@import 'variables';

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  font-size: 1em;
  background-color: $gray;
  color: $text-color;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: $support-blue;
  display: flex;
  color: white;
  height: fit-content;;
}
header h1 {
  line-height: 70px;
  margin-left: 20px;
}

.shopping_cart {
  flex: 1;
  display: flex;
  align-self: center;
}

.icon {
  margin-left: auto;
}

.product_number {
  text-align: center;
  width: 20px;
  margin-right: 20px;
  margin-left: 2px;
  background-color: $support-red;
  border-radius: 40%;
}
